:root {
  --primary-black: #080415;
  --primary-purple: #5d3bee;
  --primary-gray: #51586a;
  --primary-font: "DM Sans" system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --footer-color: #fbfaff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
/* ============================ Common ============================  */
a {
  text-decoration: none;
  color: currentColor;
}
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
}
