:root {
  --primary-black: #080415;
  --primary-purple: #5d3bee;
  --primary-gray: #51586a;

  --footer-color: #fbfaff;

  --primary-font: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
/* ============================ Common ============================  */
a {
  text-decoration: none;
  color: currentColor;
}
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
}

.section-heading {
  color: var(--primary-black);

  font-size: 5.6rem;
  font-weight: 500;

  line-height: 1.19;
}

.section-desc {
  color: var(--primary-gray);

  font-size: 1.8rem;
  font-weight: 400;

  line-height: 1.67; /* 166.667% */
}

.btn {
  min-width: 170px;
  height: 62px;

  color: #fdfdfd;
  background: var(--primary-purple);

  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;

  line-height: 62px;

  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.no-scroll {
  overflow: hidden;
}
