/* About main */
.about {
  position: relative;
  z-index: 2;
  padding-top: 140px;
}

/* Title block */
.about__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.about__sub-title {
  display: flex;
  align-items: center;

  column-gap: 9px;

  margin-bottom: 10px;

  color: var(--primary-purple);

  font-size: 3.2rem;
  font-weight: 500;

  line-height: 1.25; /* 125% */
}

.about__desc {
  margin-top: 15px;

  width: 570px;
}

/* Stats block */
.about-stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 70px 112px 0;
  padding: 20px 0;

  border-top: 1px solid #08041533;
  border-bottom: 1px solid #08041533;
}

.about-stats__column {
  display: flex;
  flex-direction: column;
}

.about-stats__number {
  color: var(--primary-black);

  font-size: 5.6rem;
  font-weight: 500;

  line-height: 1.36; /* 135.714% */
  letter-spacing: 0.168rem;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}

/* About video */
.about-video {
  position: relative;
}
/* Image block */
.about__img-block {
  position: relative;

  margin-top: 70px;

  width: 100%;
  padding-top: 56.25%;
}

.about__img {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Play button */
.about-play {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;
  border-radius: 50%;

  width: 110px;
  height: 110px;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);

  cursor: pointer;
  translate: -50% -50%;
  transition: all 0.2s;
}

.about-play:hover {
  scale: 1.11;
}

.about-play__img {
  width: 30px;
  height: 30px;
}

.about-intro {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #fff;
  color: var(--primary-gray);
}

.about-intro:hover {
  opacity: initial;

  scale: 1.11;
  translate: -5% -5%;
}
