/* Client main */
.client {
  margin-top: 110px;
}

.client__inner {
  display: flex;
  align-items: center;

  column-gap: 105px;
}

/* Client title block */
.client__title-block {
  display: flex;
  column-gap: 13px;
}

.client__title-block .line {
  position: relative;
  top: 22px;
  width: 86px;
  height: 2px;
  background: var(--primary-purple);
}

.client__heading {
  width: 253px;

  font-size: 4.2rem;
}

/* Client info block */
.client__info-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 66px;
}

.client__info-block--lat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 61px;
}

.client__info-block--rab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 36px;
}

/* Client item */
.client-item {
  display: flex;
  align-items: center;

  column-gap: 13px;
}

.client-item__img--bgneeded {
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 50%;

  width: 36px;
  height: 36px;
}

.client-item__img--bgneeded.item-01 {
  background: #fbfaff;
}

.client-item__img--bgneeded.item-02 {
  background: #14a800;
}

.client-item__img--bgneeded.item-03 {
  background: #ffffff;
}
