/* Contact main */
.contact {
  padding-top: 140px;
}

/* Inner */

.contact__inner {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 68px 0;

  background: #fbfaff;

  text-align: center;
  overflow: hidden;
}

/* Emoji block */
.contact__emoji-block {
  width: 90px;
  height: 90px;
}

.contact__emoji {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Heading */
.contact__heading {
  position: relative;
  z-index: 1;

  margin-top: 20px;
}

/* Desc */

.contact__desc {
  position: relative;
  z-index: 1;

  width: 570px;
  margin-top: 20px;
}

/* Button */
.contact__cta {
  position: relative;
  z-index: 1;

  margin-top: 30px;
  color: #fff;
  background: var(--primary-purple);
}

/* Layer */
.contact__layer,
.contact__layer--small {
  position: absolute;
}

.contact__layer.layer-01 {
  bottom: 0;
  left: 0;
}

.contact__layer.layer-02 {
  top: 0;
  right: 0;
}

.contact__layer.layer-03,
.contact__layer--small {
  top: 50%;
  left: 0;
  right: 0;

  margin: 0 auto;

  transform: translateY(-50%);
}

.contact__layer--small {
  display: none;
}
