/* Galary main */
.gallery {
  margin-top: 160px;
}

.gallery__title-block {
  text-align: center;
}

.gallery__desc {
  width: 528px;
  margin: 20px auto 0;
}

.gallery__link {
  display: inline-block;

  margin-top: 30px;
  border-bottom: 3px solid currentColor;

  color: var(--primary-purple);

  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;

  transition: all 0.2s;
}

.gallery__link:hover {
  border-bottom-color: transparent;
}

/* Gallery list */
.gallery__list {
  margin-top: 70px;
}

.gallery-item {
  position: relative;

  width: 100%;
  padding-top: 142.972973%;
}

.gallery__img {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* Slider */
.gallery__dots-block {
  display: none;
  justify-content: center;
  align-items: center;

  column-gap: 20.5px;

  margin-top: 40px;
}

.gallery__dots-block .dots {
  border-radius: 50%;

  width: 16px;
  height: 16px;

  background: #08041533;
}

.gallery__dots-block .dots.active {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--primary-purple);

  width: 20px;
  height: 20px;

  background: transparent;
}

.gallery__dots-block .dots.active .inner {
  border-radius: 50%;

  width: 13px;
  height: 13px;

  background: var(--primary-purple);
}
