.header {
  position: sticky;
  top: -20px;
  padding: 20px 0 0;

  background: #fff;
}
.header__container {
  margin: 0 auto;

  width: 1330px;
  max-width: calc(100% - 48px);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo block */
.logo-block {
  display: flex;
  align-items: center;

  column-gap: 10px;
}

.logo__img-block {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #5d3bee33;
  border-radius: 50%;

  width: 46px;
  height: 46px;

  background: #fff;
}

.logo__name-block {
  color: var(--primary-black);
  font-size: 2.2rem;
  font-weight: 500;

  line-height: 1.37;
  text-decoration: underline;
}

/* Emoji block */

.header__emoji-block {
  width: 100px;
  height: 100px;
}

.header__emoji {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* List */

.navbar__list {
  display: flex;
  align-items: center;

  column-gap: 43px;
}

.navbar__link {
  color: var(--primary-gray);

  font-size: 1.8rem;
  font-weight: 400;

  transition: all 0.15s;
}

.navbar__link:hover {
  border-bottom: 2px solid currentColor;

  color: var(--primary-black);
  text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}
