.header {
  position: sticky;
  top: -20px;
  padding: 20px 0 0;

  background: white;
}
.header__container {
  margin: 0 auto;

  width: 1330px;
  max-width: calc(100% - 48px);
}

.pc-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo block */
.logo-block {
  display: flex;
  align-items: center;

  column-gap: 10px;
}

.logo__img-block {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #5d3bee33;
  border-radius: 50%;

  width: 46px;
  height: 46px;

  background: #fff;
}

.logo__name-block {
  color: var(--primary-black);
  font-size: 2.2rem;
  font-weight: 500;

  line-height: 1.37;
  text-decoration: underline;
}

/* Emoji block */

.header__emoji-block {
  width: 100px;
  height: 100px;
}

.header__emoji {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* List */

.navbar__list {
  display: flex;
  align-items: center;

  column-gap: 27px;
}

.navbar__link {
  padding: 4px 8px;
  color: var(--primary-gray);

  font-size: 1.8rem;
  font-weight: 400;

  transition: all 0.15s;
}

.navbar__link:hover {
  border-bottom: 2px solid currentColor;

  color: var(--primary-black);
  text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

/* Mobile menu */
.mobile-navbar {
  display: none;
  justify-content: space-between;

  padding: 20px 13px;

  border-bottom: 1px solid #d6d3e2;
}

.header__emoji-block--small {
  width: 37px;
  height: 44px;
}

.header__emoji--small {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.mobile-navbar--right {
  display: flex;
  align-items: center;

  column-gap: 10px;
}

.toggle-menu,
.logo__img-block--outside {
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid #5d3bee33;

  width: 32px;
  height: 32px;
}

.icon-box {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  row-gap: 6px;
}

.icon-line {
  display: inline-block;

  border-radius: 1px;

  width: 12px;
  height: 2px;

  background: #5d3bee;
}

.logo__img--outside {
  width: 16.7px;
  height: 11.13px;
}

/* Logo block (outside) */
