/* Work main */
.work {
  margin-top: 140px;
  padding: 86px 0;

  background: var(--primary-purple);
}

.work__row {
  row-gap: 30px;
}

/* Title block */
.work__title-block {
  display: flex;
  align-items: center;

  column-gap: 160px;
}

.work__heading {
  width: 468px;

  color: #fff;
}

.work__desc {
  width: 370px;

  color: #fff;
  opacity: 0.7;
}

/* Work list */
.work__list {
  margin-top: 70px;
}

/* Work item */
.work-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  row-gap: 47px;

  padding: 24px 23px 23px 34px;

  background: #fbfaff;
  overflow: hidden;
}

/* Content block */
.work-item__content-block {
  position: relative;
  z-index: 1;
}

.work-item__title {
  color: var(--primary-black);

  font-size: 2.8rem;
  font-weight: 500;

  line-height: 1.25; /* 125% */
}

.work-item__desc {
  margin-top: 10px;

  width: 220px;

  font-size: 1.5rem;
  line-height: 1.4375;
}

.work-item__link {
  display: inline-block;

  margin-top: 20px;
  border-bottom: 2px solid transparent;

  color: var(--primary-black);

  font-size: 1.7rem;
  font-weight: 700;

  line-height: 1.67; /* 166.667% */
  transition: all 0.2s;
}

.work-item__link:hover {
  border-bottom-color: currentColor;
}

/* Image block */
.work-item__img-block {
  position: relative;
  z-index: 1;

  width: 246px;
  height: 187px;
}

.work-item__img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Work CTA Block */
.work__cta-block {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 80px;
}

.work__cta {
  color: var(--primary-black);
  background: #fff;
}

/* Layer */
.work-item__layer,
.work-item__layer--small {
  position: absolute;
  bottom: 0;
  right: 0;
}

.work-item__layer--small {
  display: none;
}
