/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .feedback__desc {
    width: 400px;
  }

  .feedback__speech {
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .feedback {
    margin-top: -108px;
    padding: 229px 20px 67px;
  }

  .feedback__heading {
    font-size: 3.6rem;
  }

  .feedback__desc {
    width: 350px;

    font-size: 1.6rem;
    line-height: 1.625;
  }

  .feedback-customer {
    margin-top: 40px;
  }

  .feedback__speech {
    width: 350px;

    font-size: 1.8rem;
    line-height: 1.67;
  }

  .feedback-info__wrap {
    margin-top: 48px;
  }

  .feedback__dots-block {
    margin-top: 20px;
  }

  .feedback__layer.layer-01,
  .feedback__layer.layer-02 {
    display: none;
  }

  .feedback__layer--small.layer-01,
  .feedback__layer-02--small {
    display: block;
  }
}

/* Very small screen */
@media screen and (max-width: 410px) {
  .feedback__desc,
  .feedback__speech {
    width: 300px;
  }
}
