/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .faq-item {
    padding: 0 10px 15px;
  }

  .faq__heading {
    width: 450px;

    font-size: 4rem;
  }

  .faq__question {
    width: 350px;

    font-size: 2.8rem;
  }

  .faq-checkbox:checked ~ .faq-item__desc {
    bottom: 37px;

    width: 450px;
    /* transform: translateY(100px); */
  }

  .faq-item:has(.faq-checkbox:checked) .faq-item__question-block {
    margin-bottom: 108px;
  }
}

/* Phone */
@media screen and (max-width: 576px) {
  .faq__title-block {
    margin-left: 15px;
    margin-right: 54px;
  }

  .faq__list {
    margin-left: 20px;
    margin-right: 20px;
  }

  .faq__heading {
    width: 316px;
    margin-bottom: 42px;

    font-size: 3.6rem;
    line-height: 1.17;
  }

  .faq__question {
    width: 265px;

    font-size: 2.4rem;
    line-height: 1.25;

    letter-spacing: -0.096rem;
  }

  .faq-checkbox:checked ~ .faq-item__desc {
    bottom: 33px;

    width: 316px;

    font-size: 1.6rem;
    line-height: 1.625;
  }

  .faq__label {
    width: 33px;
    height: 33px;
  }

  .faq__label::after {
    font-size: 20px;
  }
}

/* Very small screen */
@media screen and (max-width: 410px) {
  .faq-item:has(.faq-checkbox:checked) .faq-item__question-block {
    margin-bottom: 150px;
  }

  .faq__heading {
    width: 80%;
    font-size: 3rem;
  }

  .faq-item:has(.faq-checkbox:checked) {
    display: block;
  }

  .faq-checkbox:checked ~ .faq-item__desc {
    width: 300px;
    font-size: 1.6rem;
  }

  .faq-item:has(.faq-checkbox:checked) .faq-item__question-block {
    margin-bottom: 117px;
  }

  .faq__question {
    width: 300px;
  }

  /* .faq__question {
    font-size: 2rem;
    width: 200px;
  }

  .faq-checkbox:checked ~ .faq-item__desc {
    width: 200px;
    font-size: 1.4rem;
  }

  .faq__list {
    margin-left: 10px;
    margin-right: 10px;
  } */
}
