/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .about-stats {
    margin: 70px 40px 0;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .about__desc {
    width: auto;
  }

  .about-stats {
    justify-content: space-between;

    padding: 30px 16px;
    margin: 50px 0 0;
  }

  .about-stats__number {
    font-size: 4rem;
  }

  .about-stats__desc {
    font-size: 1.6rem;
  }

  .about-play {
    width: 88px;
    height: 88px;
  }
}

/* Phone */
@media screen and (max-width: 576px) {
  .about__title-block {
    margin: 0 15px;
  }

  .about__sub-title {
    column-gap: 4px;

    margin-bottom: 0;

    font-size: 2rem;
    line-height: 2;
  }

  .about__sub-title img {
    width: 18px;
    height: 18px;

    object-fit: cover;
  }

  .about__heading {
    margin-top: 1px;

    font-size: 3.6rem;
  }

  .about__desc {
    margin-top: 20px;

    width: 376px;
  }

  .about-stats {
    margin: 50px 15px 0;
  }

  .about-stats__column:first-child {
    order: 2;
  }

  .about-stats__number {
    font-size: 3rem;
    line-height: 1.4;
  }

  .about-stats__desc {
    margin-top: 5px;

    width: 83px;
    line-height: 1.375;
  }

  .about-video {
    margin: 40px 15px 0;
  }

  .about__img-block {
    padding-top: 78.8571429%;
  }

  .about-play {
    width: 77px;
    height: 77px;
  }

  .about-play__img {
    width: 20px;
    height: 20px;
  }

  .about-intro {
    width: 118px;
    height: 44px;

    font-size: 1.2rem;
    line-height: 44px;
  }
}

/* Very small screen */
@media screen and (max-width: 410px) {
  .about__desc {
    width: 300px;
  }
}
