/* Large screen */
@media screen and (max-width: 1200px) {
  .work__title-block {
    flex-direction: column;
    row-gap: 30px;

    text-align: center;
  }
}
/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
}

/* Phone */
@media screen and (max-width: 576px) {
  .work {
    margin-top: 120px;
    padding: 69px 15px 60px;
  }

  .work__title-block {
    row-gap: 20px;
  }

  .work__heading {
    width: auto;

    font-size: 3.6rem;
  }

  .work__desc {
    width: auto;

    font-size: 1.6rem;
    line-height: 1.625;
  }

  .work-item {
    padding: 20px 15px;
  }

  .work-item__title {
    font-size: 2.4rem;
    line-height: 1.42;
  }

  .work-item__desc {
    margin-top: 4px;

    width: 176px;

    font-size: 1.4rem;
    line-height: 1.43;
  }

  .work-item__link {
    border-bottom-color: currentColor;

    margin-top: 4px;

    font-size: 1.6rem;
    line-height: 1.75;
  }

  .work-item__img-block {
    width: 122px;
    height: 93px;
  }

  .work__cta-block {
    margin-top: 50px;
  }

  .work__cta {
    width: 154px;
    height: 56px;

    font-size: 1.6rem;
    line-height: 56px;
  }

  .work-item__layer {
    display: none;
  }

  .work-item__layer--small {
    display: block;
  }
}
